.explore-categories {
  min-height: 30vh;
}

.idk {
  border: 1px solid blue;
  margin: 20px;
  min-height: 40vh;
}

.profile-showcase {
  border: 1px solid transparent;
}

.profile-showcase .MuiGrid-item {
  border: 1px solid transparent;
  padding: 10px;
}

.popular-items {
  min-height: 60vh;
}
