.explore-categories {
  margin: 30px 0px !important;
}
.explore-categories p {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.what-we-do {
  margin: 20px;
  min-height: 40vh;
}
.landing-content {
}
.profile-showcase {
  border: 1px solid transparent;
}

.profile-showcase .MuiGrid-item {
  border: 1px solid transparent;
  padding: 10px;
}

.popular-items {
  min-height: 60vh;
}
