.navbar-root {
  background-color: var(--primary);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  z-index: 10;
}

.grid-nav {
  width: 100% !important;
}

.logo {
  cursor: pointer;
  font-size: 32px;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
}
.logo-link {
  text-decoration: none;
  color: white;
}

nav {
  z-index: 0;
}
nav > .nav-links {
  margin: 0 2rem;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.notif-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  opacity: 0;
  display: none !important;
  font-size: 30px !important;
}

.notif-icons .icons {
  margin: 0px 8px !important;
  transition: 0.3s ease-in-out;
  color: white;
  font-size: 22px;
}
.notif-icons .avatar {
  margin-left: 40px !important;
}

.list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 8px 0 15px;
}

@media only screen and (max-width: 600px) {
  .logo {
    text-align: center;
  }
}

@media only screen and (max-width: 560px) {
  .notif-icons .icons {
    margin: 0px 8px !important;
    transition: 0.3s ease-in-out;
    color: white;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1202px) {
  .nav-button {
    display: inline !important;
    opacity: 1;
  }

  nav {
    position: fixed;
    top: 50px;
    left: 0;
    height: auto;
    width: 100%;
    transform: translateY(10vh);
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ease-in-out;
  }
  nav > .nav-links {
    margin: 1.5rem 0;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .responsive {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
  }
}
