.title-area {
  margin: 20px 0px 30px 10px;
}

.catalog-area {
  display: flex;
  flex-flow: row wrap;
}

.catalog-filter-area {
  padding: 20px;
  flex: 0.15;
  margin: 10px 0px 0px 10px;
  min-height: 60vh;
  height: 90vh;
}

.catalog-filter-area h6 {
  margin-bottom: 20px;
}

.catalog-content-area {
  flex: 0.85;
}

.category-form {
}

.catalog-filter-forms {
  margin: 40px 0;
}
.filter-keyword {
  margin: 0 0 10px 0 !important;
}

.category-dropdown{
  width:300px !important;
}