.individual-page {
  width: 80%;
  margin: 0 auto !important;
}

.product-grid {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: justify;
  justify-content: center;
}

.img-container {
  flex: 0.7;
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.choice {
  width: 30%;
}
.choice h6 {
  margin-bottom: 10px;
}
.info-container {
  margin: 0 0 0 30px;
  flex: 0.3;
}
.basic-info {
  list-style: none;
}

.company-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
}
.company-name {
  text-decoration: none;
  margin: 0px 10px 0px 0px;
  color: black;
  letter-spacing: 0.7px;
  font-weight: bold;
}
.company-info .company-name {
  font-weight: bold;
}

.basic-info .title {
  font-weight: 200;
  font-size: 34px;
  word-wrap: break-word;
}
.basic-info .price {
  font-weight: bold;
  color: var(--primary);
  font-size: 24px;
}

.submit-btns > .btn {
  margin: 0 20px 0 0;
}
.product-main {
  margin: 30px 0px;
}
.product-main h2 {
  font-weight: 200;
  margin: 10px 0px;
}

.product-main ul {
  padding: 0px 20px;
}
.product-extra {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 80px 0px;
}
.reviews {
  flex: 0.75;
  padding-right: 15px;
}
.more-shop {
  flex: 0.25;
  padding: 30px;
  min-height: 800px;
  max-width: 500px;

  border-radius: 20px;
  background-color: var(--primary);
}

.product-description {
  min-height: 400px;
}

.product-description p {
  line-break: auto;
  margin: 30px 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.meet-your-seller {
  background-color: white;
  border-radius: 40px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.meet-your-seller p {
  text-align: center;
}

.seller-img {
  width: 100px !important;
  height: auto;
  border-radius: 50%;
}

.popular-items-individual {
  margin: 140px 0;
}

.liked {
  background-color: red;
}

.review-single {
  background-color: var(--secondary);
  padding: 20px;
  margin: 15px 0;
  border-radius: 15px;
}

.review-user {
  color: black;
}

.review-count span {
  font-weight: 700;
}

.text-display p {
  font-size: 14px;
}

.favorite {
  display: flex;
  align-items: center;
}
