.cat-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cat-list {
  width: 200px;
  height: 200px;
  list-style: none;
}

.damn {
  width: inherit;
  height: inherit;
  overflow: hidden;
  border-radius: 50px;
  padding: 8px;
}
.cat-text {
  text-align: center;
  position: relative;
  bottom: 10px;
}
