.cat-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.circle {
  width: 200px;
  height: 200px;
  border: 1px solid transparent;
}

.damn {
  width: inherit;
  height: inherit;
  overflow: hidden;
  border-radius: 50%;
  padding: 20px;
}
.cat-text {
  text-align: center;
}
