.main_image {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.slider {
  position: relative;
  height: 100%;
}
.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #000;
  z-index: 1;
  cursor: pointer;
}
.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #000;
  z-index: 1;
  cursor: pointer;
}
.dot-con {
  display: flex;
  justify-content: center;
}
