.navbar-root {
  background-color: rgb(255, 255, 255);
  height: 80px;
  color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.grid-nav {
  width: 80% !important;
}
.logo {
  font-size: 32px;
  flex: 0.25;
  text-align: center;
}

.categories {
  font-size: 17px;
  flex: 0.5;
}

.categories ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  color: rgb(101, 101, 101);
}
.categories ul li {
  width: 100%;
  padding: 2px 10px 2px 10px;
  text-align: center;
  border: 2px solid transparent;
}

.categories ul li:nth-child(2) {
  padding: 2px 15px 2px 15px;
}

.categories ul li:hover {
  border: 2px solid rgb(168, 168, 168);
  color: black;
  cursor: pointer;
  border-radius: 20px;
}

.profile-icons {
  flex: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icons .icons {
  padding: 10px;
}
