.navbar-root {
  background-color: rgb(188, 188, 188);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  z-index: 10;
}

.grid-nav {
  width: 85% !important;
}

.nav-button {
  display: none;
  padding: 5px;
  background: transparent;
  opacity: 0;
  border: none;
  outline: none;
}

.logo {
  cursor: pointer;
  font-size: 32px;
  text-align: center;
}
.logo-link {
  text-decoration: none;
  color: white;
}

.searching {
  flex: 0.7;
}

.categories {
}

nav {
  z-index: 0;
}
nav > .nav-links {
  margin: 0 2rem;

  text-decoration: none;
  color: white;
}
.notif-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notif-icons .icons {
  margin: 0px 8px !important;
  transition: 0.3s ease-in-out;
  color: white;
  font-size: 22px;
  border: none;
  outline: none;
}
.notif-icons .avatar {
  margin-left: 40px !important;
}

@media only screen and (max-width: 948px) {
  .logo {
  }
  .searching {
    transition: 0.2s ease-in-out;
    flex: 0.75;
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .notif-icons .icons {
    margin: 0px 8px !important;
    transition: 0.3s ease-in-out;
    color: white;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1202px) {
  .nav-button {
    display: inline;
    opacity: 1;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    transform: translateY(16vh);
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  nav > .nav-links {
    margin: 1.5rem 0;
    text-decoration: none;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .responsive {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
  }
}
