.search-bar {
  display: flex;
  flex-flow: row nowrap;
}
.search-box {
  box-sizing: border-box;
  width: 100%;
}
.search-text {
  border: 1px solid rgb(255, 255, 255);
  padding: 7px 15px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 0px;
  width: inherit;
}

.search-button {
  position: relative;
  left: 8px;
  top: 3px;
}
