html {
  font-size: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.profile-box {
  width: 300;
  height: 300;
  background-color: blueviolet;
}
